//사용된 컬러

//메인컬러
$main-color:#E31c9e;

//##### 글씨 컬러
//검정글씨
$black-text:#333333;
//흰글씨
$white-text:#ffffff;
//모든회색글씨
$grey-text: #ACACAC;
//로그인글씨
$login-text-color:#3ED7FF;

//#### 배경컬러
//햄버거메뉴
$hamber-color:#e4e4e4;
//팝업창
$pop-color:#ffffff;
//팝업창내버튼
$pop-btn-color:#000000;